<h2>Bonjour,</h2>

<p>Votre client <%= @user.first_name %> <%= @user.last_name %> vous envoie son dossier complet et vérifier pour le bien INSERT FLAT. </p>

<p>Notre plateforme, tiers de confiance entre agence/proprietaire et locataire, a vérifié son dossier. Il est complet, ses revenus sont suffisants et ses pièces ont été vérifiées et authentifiées.</p>

<p>DOSSIER DE <%= @user.first_name %> <%= @user.last_name %></p>
<p>Lien: INSERT LINK</p>
<p>Mot de passe pour voir le dossier: 1x3c!145</p>

<p>INSERT BUTTON</p>

<h2>Qui sommes nous?</h2>

<p>Lalagence est blablabla...</p>

<p>L'équipe Lalagence</p>
