
.title-candidature-container {
 padding-top: 50px;
 padding-left: 82px;
}

.container_candidature_anonymesession {
  display: flex;
  margin-top: 50px;
  width: 500px;
}

.container_candidature_anonymesession_privateshow {
  display: flex;
  margin-top: 50px;
  width: 500px;
  margin-left: 250px;
}

.fa-star {
  color:#ECBF40;
}

.fa-times {
  color: red;
}

.fa-euro-sign {
  color:#ECBF40;
  margin-left:5px;
}

.rating-euro{
  display:flex;
}

.mega-card-candidature {

  width:700px;
  height: 800px;
  background-color: white;
  border: 1px solid #DEE6E5;
  border-radius: 5px;
  padding:40px;
  margin: 0 auto;
  margin-bottom: 30px;

  h1 {
   font-size: 18px;
   font-weight: bold;
  }

  h2 {
    font-size: 18px
  }


  .avatar {
     height: 90px;
      width: 90px;
    img {
      height: 90px;
      width: 90px;
    }
  }

  .contact_info {
    margin-left:20px;

    h1 {
    margin-bottom: 5px
    }

    h2{
      margin-bottom: 5px;
    }

  }
}

.lb-image{
  max-width: inherit;
}


.row-button-and-contact {
  display:flex;
  position:relative;
}

.avat_contact {
  display:flex;
  align-items: center;
}

.buttons-container {
  position:absolute;
  top:0px;
  right:0px;
  text-align:right;
}



.seemore {
top:20px;
margin-left:10px;
margin-top:10px;
}

.accept {
  margin-left: 20px;
}

.reject {
margin-left: 20px;
}

.commentaire {
  margin-top:20px;


  h2{
      margin-bottom: 5px;
      font-size:16px;
      font-weight:bold;
  }
}


.row-situ-pro-loca {
  margin-top:30px;
display:flex;
}

.situation-pro {
font-weight:bold;
  h2{ font-weight:bold;
      margin-bottom: 5px;
      font-size:16px;
  }
  p {
    span {
      color:$light-green;
    }
  }
}

.situation-loca {
  margin-left:150px;
  h2{ font-weight:bold;
      margin-bottom: 5px;
      font-size:16px;
  }
}

.guarantor {
margin-top:30px;
font-weight:bold;
  h2{ font-weight:bold;
      margin-bottom: 5px;
      font-size:16px;
      span {
      color:$light-green;
    }
  }
}

.wrapper {
  padding : 0px 20px;
  display:flex;
  margin-top:30px;
  height:40px;
  background-color:#FAFAFA;
  width:100%;
  border-radius:5px;
  color:$light-green;
  align-items: center;
  justify-content:space-around;

  .icon-secure {
    img { width: 20px
    }
  }

}

.row-apercu-bien {
  height:200px;
  padding:20px;
  text-align: center;
   h2{font-weight:bold;
      margin-bottom: 5px;
      font-size:16px;
   }
}

.mini-card-candidature {
  background-color: white;

  .avatar {
    height: 70px;
    width: 70px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
    img {
      height: 70px;
      width: 70px;
    }
  }
  .row-mini {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    li {
      display: inline;
    }
  }
  .flat-details {
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.mini-cards-container .nav-tabs{
  border:0;
}

.mini-cards-container .tab {
  width: 200px;
  background-color: white;
  margin-left: 100px;
  margin-bottom: 20px;
  color: $gray;
  position:relative;
  overflow: hidden;
  border: 1px solid #e6e6e6;
}

.mini-cards-container a {

  border: 1px solid #e6e6e6;
  border-radius: 4px;

}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #333333;
    background-color: #E7E7E7;
    border: 1px solid #ddd;
    border-bottom-color: #e6e6e6;
    cursor: default;
  }

.mini-cards-container .nav-tabs > li.active > a,
.mini-cards-container .nav-tabs > li.active > a:hover,
.mini-cards-container .nav-tabs > li.active > a:focus{
  background:#fff;
}
.mini-cards-container li.active .tab::after{
  content:"";
  display:block;
  position:absolute;
  top:-1px;
  bottom: -1px;
  right:0;
  width:8px;
  background:$light-green;
}
.user-bien {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
