<% if @flats.nil? %>
  <h1>  Vous n'êtes pas autorisé à voir cette page </h1>
<% else %>
  <div class="index-candidature-container">
    <h4>Vos appartements</h4>
    <div class="flat-dashboard">
      <div class="row">
        <% @flats.each do |flat| %>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <%= render 'shared/flat_card_agency', flat: flat %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

