<div class="flat-dashboard">
  <h1>All your applications</h1>
  <div class="row">
    <% @candidatures.each do |candidature| %>
      <div class="col-xs-12 col-sm-2 col-md-4">
        <%= render 'shared/flat_card', candidature: candidature %>
      </div>
    <% end %>
  </div>
</div>
