// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
@import "reset";


.container-rightofnavbar {
  margin-left: 230px;
  padding: 0 40px;
}


.container-navbar {
  margin-top: 70px;
  padding-top: 40px;

}

.footer-rightofnavbar {
margin-left: 230px;

}
