body{
  background: #fff;
  font-size: 12px;
  }
ul, p{
  margin:0;
}
ul{
  list-style: none;
  padding:0;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin:0 0 15px
}
img{
  vertical-align: middle;
  max-width: 100%!important;
  height:auto;
}

p {
  font-size: 13px;
}

h1 {
  font-family: "Assistant"
}

h3 {
  font-size:18px;
  font-weight: bold;
  font-family: "Assistant";
}

h4 {
  font-family: "Assistant";
  font-size:30px;
  color:$light-green;
}

input.form-control{
  border-radius: 50px;
}
input.form-control:focus{
  border-color: $light-green;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(61, 234, 185, 0.6);
}
input.btn-send{
  background:$pink;
  color:#fff;
}
input.btn-send:hover{
  color:#fff;
}
