<div class="banner">
  <h3>Ils parlent de nous<span class="weak"> en bien!</span></h3>
  <div class="banner-links">
    <a href="#"><i class="far fa-heart"></i></a>
    <a href="#"><i class="far fa-heart"></i></a>
    <a href="#"><i class="far fa-heart"></i></a>
    <a href="#"><i class="far fa-heart"></i></a>
    <a href="#"><i class="far fa-heart"></i></a>
  </div>
</div>
