<div class="flat-card">
  <div class="flat-card-pic">
    <div class="card-profile-picture">
      <%= image_tag("avatar_phb.png")%>
    </div>
    <div class="card-profile-firstname">Paul-Henri <br> Blaiset</div>
  </div>
  <div class="flat-card-info">
    <div class="card-profile-usertype">L'avis d'un locataire</div>
    <div class="card-comment-star">
      <i class="fa fa-star" style="color:#ECBF40"></i>
      <i class="fa fa-star" style="color:#ECBF40"></i>
      <i class="fa fa-star" style="color:#ECBF40"></i>
      <i class="fa fa-star" style="color:#ECBF40"></i>
      <i class="fa fa-star" style="color:#ECBF40"></i>
    </div>
    <div class="card-comment-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt at, minima a eos delectus atque eveniet voluptatem enim ut, vero, itaque commodi, expedita quae nemo. Saepe deserunt tempora sunt!</p>
    </div>
  </div>
</div>
