<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <h4>Lalagence</h4>
        <p>Lalagence est une solution web qui va collecter, analyser et sécuriser vos documents sensibles pour vous simplifier la vie et fluidifier vos recherches d’appartements.</p>
        <p><strong>Téléphone:</strong> 01 76 40 00 01</p>
        <p><strong>Mail:</strong> contact@lalagence.com</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Apps Mobile</h4>
        <ul class="footer-links">
          <li><a href="#">App Store</a></li>
          <li><a href="#">Google Play</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Partagez l'amour</h4>
        <ul class="footer-links">
          <li><a href="#">Recommandez à vos amis</a></li>
          <li><a href="#">Rejoignez nous!</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Plus</h4>
        <ul class="footer-links">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
