<div class="footer">
  <div class="col-xs-12 col-sm-3">
    <h4>Lalagence</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum incidunt, nemo, repellendus animi id dolor distinctio minima soluta nulla mollitia nam quod, obcaecati necessitatibus. Sint tempore dolorum voluptates. Molestiae, rem.</p>
    <p>Téléphone 01 76 40 00 01</p>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h4>Apps Mobile</h4>
    <ul class="footer-links">
      <li><a href="#"><i class="fab fa-app-store-ios"></i></a></li>
      <li><a href="#"><i class="fab fa-google-play"></i></a></li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h4>Share the love</h4>
    <p>Recommandez à vos amis</p>
    <p><a href="#">Rejoignez nous!</a></p>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h4>Plus</h4>
    <ul class="footer-links">
      <li><a href="#"><i class="fab fa-blogger-b"></i></a></li>
      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    </ul>
  </div>
</div>
