<div class="triangle-selector-container-step-1">
  <div id="triangle-code-left" style="display : inline-block;">
  </div>
  <div id="triangle-code-right" style="display : inline-block;">
  </div>
</div>
