<section class="banner-home">
  <div class="form-container">
    <div class="form-container-inner">
      <h1>Lorem ipsum dolor sit amet, ct.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ratione enim culpa perspiciatis et similique aspernatur alias saepe. Eum laborum delectus fuga officia quo quidem.</p>
    </div>
  </div>
</section>
<section class="icon-home">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-icon-home">
      <div class="col-icon-img"><%=image_tag("https://picsum.photos/200/300", alt: "")%></div>
      <div class="col-icon-title"><h2>Lorem ipsum dolor sit <span>amet, consectetur</span></h2></div>
      <div class="col-icon-text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quasi corrupti provident repellat error ab aperiam dolores reiciendis culpa quo expedita fugiat accusantium ducimus deleniti unde, molestiae eum non quia.</p></div>
    </div>
    <div class="col-xs-12 col-sm-4 col-icon-home">
      <div class="col-icon-img"><%=image_tag("https://picsum.photos/200/300", alt: "")%></div>
      <div class="col-icon-title"><h2>Lorem ipsum dolor sit <span>amet, consectetur</span></h2></div>
      <div class="col-icon-text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quasi corrupti provident repellat error ab aperiam dolores reiciendis culpa quo expedita fugiat accusantium ducimus deleniti unde, molestiae eum non quia.</p></div>
    </div>
    <div class="col-xs-12 col-sm-4 col-icon-home">
      <div class="col-icon-img"><%=image_tag("https://picsum.photos/200/300", alt: "")%></div>
      <div class="col-icon-title"><h2>Lorem ipsum dolor sit <span>amet, consectetur</span></h2></div>
      <div class="col-icon-text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quasi corrupti provident repellat error ab aperiam dolores reiciendis culpa quo expedita fugiat accusantium ducimus deleniti unde, molestiae eum non quia.</p></div>
    </div>
  </div>
</section>
<section class="carousel-home">
  <%= render "shared/carousel_home" %>
</section>
