
.banner {
  display:flex;
  align-content:center;
  background-color: $light-green;
  color: white;
  padding: 30px;
  height: 250px;
  text-align: center;
  font-weight: lighter;

  img {
  max-width: 70% !important;
  margin-top: 20px
  }


  .banner-content {
    padding-top:25px;
    margin: 0 auto;

    h3 {
      font-size: 22px;
      font-weight:lighter;
    }

  }

}
.banner-links a {
  margin-left: 40px;
  color: white;
}
span.weak {
  font-weight: lighter;
}
