.banner {
  background-color: #2FCAAB;
  color: white;
  padding: 10px;
  height: 200px;
  text-align: center;
}
.banner-links a {
  margin-left: 40px;
  color: white;
}
span.weak {
  font-weight: lighter;
}
