.banner {
  background-color: $light-green;
  color: white;
  padding: 30px;
  height: 150px;
  text-align: center;
}
.banner-links a {
  margin-left: 40px;
  color: white;
}
span.weak {
  font-weight: lighter;
}
