.carousel-home{
  padding:20px 100px;

}
.carousel-inner .item{
  padding:0 20px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.card-home{
  display:flex;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 3px 3px 16px rgba(30, 30, 30, 0.2);
  margin:50px 0px;
}
.card-home > div[class^="card"]{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:50%;
  height: 400px;

}
.card-home > div[class^="card"] > *{
  margin:18px 0 15px;
}
.card-profile{
  background:$dark-blue;
  color:white;
  img {
    height:70px;
    width:70px}
}
.card-profile .card-profile-picture{
  border-radius:50%;
  border:2px solid #fff;
  overflow:hidden;
}
.card-comment{
  position: relative;
  background:white;
}
.card-comment .card-comment-star{
  font-size: 15px;
}
.card-comment .card-comment-text{
  padding:0 15px;
}

.card-profile-usertype {
  position:absolute;
  top:10px;
  margin-bottom: 30px;
  font-weight:lighter;
  color:#2684E2;

}
