.index-candidature-container{
  margin:30px;
  height-min:70vh;
  padding-top: 30px;
}

.flat-dashboard{
  padding: 20px 0px;
}
.flat-card{
  height:190px;
  display:flex;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #D8E2E1;
  border-radius:3px;
  margin:0 0 20px;
  box-shadow: 3px 3px 6px 0 rgba(30, 30, 30, 0.1);
}

.flat-card {
 a {
    position: relative;
    margin-bottom: 2em;
    font-weight: 900;
    z-index: 1;
    margin-top: 5px;
    }

    a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 6px;
    background-color: #3DEAB9;
    z-index: -1;
  }
}


.flat-card > div[class^="flat-card"]{
  display:flex;
  flex-direction:column;
  align-items:center;
  // justify-content:center;
  width:50%;
}
.flat-card .flat-card-info{
  position:relative;
  padding:20px 25px;
  background:#fff;
}

.title-card {
  margin-bottom: 20px;

  span {
    color:$light-green;
  }
}
// .flat-card .flat-card-info::after{
//   content:"";
//   display:block;
//   position:absolute;
//   top:0;
//   bottom: 0;
//   left:0;
//   right:0;
//   z-index: 4;
//   background: $light-green;
//   border-right: 2px solid $pink;
//   transform-origin:0 0;
//   transform:skewY(-2deg);
// }

.flat-card-pic {
  background-size: cover;
  background-position: center;
  position:relative;

  .fas {
    position:absolute;
    top:5px;
    right:5px;
   }
}


