.footer {
  background: #1D536A;
  color: white;
  bottom: 0;
  position: absolute;
  padding: 10px;
  font-size: 10px;
  text-align: justify;
  font-weight: 100;
}
.footer-links {
  list-style-type: none;
}
.footer-links a {
  color: white;
  font-size: 15px;
}
.footer-links li {
  margin-bottom: 10px;
}
a:hover {
  opacity: 0.7;
  text-decoration: none;
}
.footer h4 {
  font-size: 14px;
  font-weight: 600;
}
