#triangle-code-right{
 display : inline-block;
 height : 0;
 width : 0;
 border-right : 64px solid transparent;
 border-bottom : 64px solid $light-gray;
}

#triangle-code-left{
 display : inline-block;
 height : 0;
 width : 0;
 border-bottom : 64px solid $light-gray;
 border-left : 64px solid transparent;
}


.triangle-selector-container-step-1 {
  display:flex;
  padding-left:90px;
}

.triangle-selector-container-step-2 {
  display:flex;
  padding-left: 407px;
}
