/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 230px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: $light-green; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top:15px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

  .sidenav-agency {
    height: 100%; /* 100% Full-height */
    width: 230px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: $dark-blue; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top:15px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

   .profil-container {
    color:white;
    text-align:center;
    margin-top:70px;
      img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      }

      a { font-family: "Assistant";
          font-size:20px;
          padding-left:8px;

      }
    .avatar-info{
      padding:10px 0 0;
      font-family: Assistant;
      font-weight: bold;
    }
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav-agency a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: $dark-blue;
}

.sidenav-agency a:hover {
    color: #3DEAB9;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav-agency .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
// #main {
//     transition: margin-left .5s;
//     padding: 20px;
// }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav {font-size: 18px;}
}

@media screen and (max-height: 450px) {
    .sidenav-agency {padding-top: 15px;}
    .sidenav-agency a {font-size: 18px;}
}

.side-bar-menu {
  margin-top: 75px;
 a {
  font-weight: semi-bold;
  font-family: Assistant;
 }
}

.sidebar-logo-container {
  display: flex;
  align-items: center;
  margin-left:30px;

  .navbar-wagon-brand {
    width:100%;
    text-align:center;
    padding-left:8px;

    p { width:80px;
      padding:0px;
      margin:0px;
      text-align:left
    }
  }
}

.profil-container .avatar span{
  display:inline-block;
  border-radius: 50%;
  background:#fff;
}


