.user-flat-card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 3px 3px 16px rgba(30, 30, 30, 0.2);
}
.user-flat-card .flat-card-pic{
  height: 100px;
}
.flat-card-info {
  padding:15px;
}
.flat-card-info .title {
  color:#3DEAB9;
  text-align: center;
  text-transform:capitalize;
  margin:15px;
}
