.step-progress-bar{
  position:relative;
  display: inline-block;
  width:100%;
  max-width:450px;
  height:10px;
  border-radius: 50px;
  overflow: hidden;
  background:$red;
  margin:0 0 0 20px;
}
.step-progress-bar span{
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  background:$light-green;
}
.step-progress-bar-finish span{
  width:100%;
}
.step-progress-bar-begin span{
 width:10%;
}
