.step-progress-bar{
  position:relative;
  display: inline-block;
  width:100%;
  max-width:500px;
  height:15px;
  border-radius: 50px;
  overflow: hidden;
  background:$pink;
}
.step-progress-bar span{
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  background:$light-green;
}
.step-progress-bar-finish span{
  width:100%;
}
